/****************************************
*** ALERT MSG STUFF
****************************************/

.alertErrorDiv,
.alertSuccessDiv {
  display: none;
  text-align: center;
}

.alerts {
  &__msg-error,
  &__msg-success {
    margin-top: 10px;
    max-width: 500px;
    border-radius: 8px;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
//    opacity: 0;
//    transform: scale(0);
    transition: all .4s ease-in-out;
  }
  &__msg-error {
    border: 2px solid $expenseRed;
    background-color: rgba($expenseRed, 0.5);
  }
  &__msg-success {
    border: 2px solid $incomeGreen;
    background-color: rgba($incomeGreen, 0.5);
  }
}

.showAlert {
  opacity: 1;
  transform: scale(1);
}
