/****************************************
*** GLOBALS
****************************************/

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: $bodyText;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

.red { color: $expenseRed !important; }
.red-focus { border: 1px solid $expenseRed !important; }
