/****************************************
*** TRANSACTIONS
****************************************/
.transactions {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.income,
.expenses{
  display: flex;
  flex-direction: column;
  width: 100%;
  &__title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
  }
}
.income {
  &__title {
  background-color: $incomeGreen;
  }
  .item__value,
  .item__delete--btn {
    color: $incomeGreen;
  }
}
.expenses {
  &__title {
  background-color: $expenseRed;
    color: #fff;
  }
  .item__value,
  .item__percentage,
  .item__delete--btn {
    color: $expenseRed;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid $inputAccent;
  &:hover .item__delete--btn {
    display: block;
  }
  &:hover .item__value {
    transform: translateX(-10px);
  }
  &:hover .item__percentage {
    transform: translateX(-10px);
  }
  &:first-child {
    border-top: ipx solid $inputAccent;
  }
  &:nth-child(even) {
    background-color: $inputBG;
  }
  .amount {
    display: flex;
  }
  &__value,
  &__percentage {
    transition: transform 0.5s ease-in-out;
  }
  &__percentage {
    margin-left: 10px;
    font-size: .73em;
    background-color: #ffdad9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
  }
  &__delete {
    &--btn {
      font-size: 1em;
      background: none;
      border: none;
      cursor: pointer;
      vertical-align: middle;
      line-height: 1;
      display: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.unpaid {
  background-color: #ffdad9!important;
  cursor: pointer;
  color: $expenseRed;
  &:hover .item__description {
    font-weight: 900;
  }
  .item__percentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }
}


//================  MEDIA QUERIES  ============================


// SM sized media-queries
@mixin transDisp--sm() {
  .item {
    padding: 10px;
  }
}


// MD sized media-queries
@mixin transDisp--md() {
  .transactions {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .income,
  .expenses{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 10px;
    &__title {
      background-color: transparent;
      font-weight: normal;
      font-size: 1.2em;
    }
  }
  .income {
    &__title {
      color: $incomeGreen;
    }
  }
  .expenses {
    &__title {
      color: $expenseRed;
    }
  }

  .item {
    padding: 15px;
  }
}


// LG sized media-queries
@mixin transDisp--lg() {

  .item {
    padding: 20px;
  }

  .income,
  .expenses{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 10px;
    &__title {
      background-color: transparent;
      font-weight: normal;
      font-size: 1.5em;
    }
  }
}
