/****************************************
***  LOGIN, REGISTER FORMS
****************************************/

.form__box {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 0;
  padding-bottom: 5px;
  margin: 0 auto;
  background-color: $formBG;
  box-shadow: $formShadow;
  margin-top: 10px;
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    a {
      text-decoration: none;
      font-size: .7em;
      border: 1px solid darken(#fcc, 10%);
      padding: 3px 8px;
      border-radius: 3px;
      background-color: #fcc;
      color: #000;
      text-transform: uppercase;
      &:hover {
        box-shadow: $formShadow;
      }
    }
  }
  h2 {
    text-align: center;
    background-color: $incomeGreen;
    padding: 5px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    border-bottom: 1px solid #666;
    margin-top: 0;
  }
  input {
    margin-left: 10px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid grey;
    &:focus {
      background-color: #efe;
      outline: none;
      box-shadow: $formShadow;
    }
  }
}


.btn {
  border: 1px solid darken($incomeGreen, 10%);
  padding: 5px 20px;
  border-radius: 8px;
  background-color: $incomeGreen;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: lighten($incomeGreen, 10%);
    text-shadow: 1px 1px 1px #000;
    box-shadow: $formShadow;
  }
  &:focus {
    outline: none;
    background-color: darken($incomeGreen, 10%);
  }
}
