/****************************************
*** VARIABLES
****************************************/

$bodyText:    #555;
$incomeGreen:  #28b9b5;
$expenseRed:  #ff5049;

$inputBG:      #f7f7f7;
$inputAccent:  #e7e7e7;
$inputCtrlBG:  #fff;
